body {
  overflow: hidden;
}
#code_container {
  height: 400px;
  position: relative;
}
#css_editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
}
#markup_editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  width: 50%;
}
#bottom {
  position: absolute;
  top: 400px;
  padding-top: 20px;
}
#footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
#footer p {
  display: inline;
  position: relative;
  left: -50%;
}
.iDc {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
}
.disabled {
  display: none;
}
